section(id="clients")
	div.wrapper
		ul.resurse__list
			li.resurse__item
				div.resurse__wrap
					span.icon.icon-graph
					span.resurse__name graphicriver
			li.resurse__item
				div.resurse__wrap
					span.icon.icon-video
					span.resurse__name videohide
			li.resurse__item
				div.resurse__wrap
					span.icon.icon-theame
					span.resurse__name teamforest
			li.resurse__item
				div.resurse__wrap
					span.icon.icon-code
					span.resurse__name codecanyon
		div.title__wrap
			h2.title.title--wl Our clients
		article.title__desc Nullam fermentum metus dolor, non suscipit neque ornare id. Curabitur fermentum ac lectus vitae ultrices. In faucibus nisl massa, et elementum orci placerat at. 
		div.slider__reviews
			ul.bxslider
				li.reviews__item
					div.reviews__img
						img(src="/img/people-5.jpg").reviews__pic
					div.reviews__wrap
						div.reviews__client--name Jonathan Elliott
						div.reviews__client--text “Praesent laoreet justo enim, accumsan venenatis orci viverra semper. Mauris dignissim erat semper arcu tincidunt lobortis.
				li.reviews__item
					div.reviews__img
						img(src="/img/people-4.jpg").reviews__pic
					div.reviews__wrap
						div.reviews__client--name Jonathan Elliott
						div.reviews__client--text “Praesent laoreet justo enim, accumsan venenatis orci viverra semper. Mauris dignissim erat semper arcu tincidunt lobortis.
	