section(id="map")
	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10628.939509046068!2d22.981039850000002!3d48.2406059!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1suk!2sua!4v1511427512158" width="100%" height="1120" frameborder="0" style="border:0" allowfullscreen></iframe>
	div.map__wrap
		div.contact__bg
			ul.map__list
				li.map__item 
					span.email you@mailserver.com 
					span.tel [ 08885-8829-7721 ]
				li.map__item 
					span.address ADDRESS : 
					div.stret Aenean ut lacinia odio, sit amet convallis orci.
				li.map__item
			div.social 
				nav.social__list
					- var socs = ["fa-facebook-square", "fa-twitter-square", "fa-linkedin-square"]
					for item, i in socs 
						li.social__item
							a(href="#").social__link 
								i(class=item).fa

	