section(id="portfolio")
	div.wrapper
		div.title__wrap
			h2.title Portfolio
		article.title__desc Phasellus est dolor, aliquam pellentesque pretium vitae, suscipit sed justo. Sed aliquam magna nec justo interdum, et malesuada dui facilisis. Morbi eu interdum massa, non posuere nunc. Proin ullamcorper magna sed tellus aliquam, eu viverra tortor porttitor. Donec tempus, ligula sit amet
		ul.portfolio__list
			li.portfolio__item
				div.portfolio__wrap
					img(src="/img/1.jpg").portfolio__pic
			li.portfolio__item
				div.portfolio__wrap
					img(src="/img/2.jpg").portfolio__pic
			li.portfolio__item
				div.portfolio__wrap
					img(src="/img/3.jpg").portfolio__pic
			li.portfolio__item
				div.portfolio__wrap
					img(src="/img/4.jpg").portfolio__pic
			li.portfolio__item
				div.portfolio__wrap
					img(src="/img/4.jpg").portfolio__pic
			li.portfolio__item
				div.portfolio__wrap
					img(src="/img/6.jpg").portfolio__pic
			li.portfolio__item
				div.portfolio__wrap
					img(src="/img/7.jpg").portfolio__pic
			li.portfolio__item
				div.portfolio__wrap
					img(src="/img/1.jpg").portfolio__pic
		button.btn__df.btn--center Maecenas vel
