section(id="about")
	div.wrapper
		div.title__wrap
			h2.title About us
		div.about__wrap
			div.about__content
				div.about__img
					img(src="/img/display.jpg").about__pic
				article.about__text Nam id nibh eu nulla elementum tincid unt. Donec pretium nisi vel fermentum venenatis. Nunc lacinia dui in condimen tum dapibus. Praesent pharetra risus et purus luctus vehicula. Ut bibendum velit nisl, vitae venenatis sapien pellentesque non. Vestibulum rutrum, justo ac varius porta, lectus lorem vestibulum neque, aliquam feugiat justo magna sit amet ligula. Ut purus
			div.skills
				div.skills__title Out skills
				div.skills__wrap
					span.meter__tile html 5
					div.progress
						span(style="width: 50%")
					span.meter__tile Css 3
					div.progress
						span(style="width: 80%")
					span.meter__tile Javascript
					div.progress
						span(style="width: 60%")
					span.meter__tile Photoshop
					div.progress
						span(style="width: 70%")
					span.meter__tile Illustrator
					div.progress
						span(style="width: 70%")
				button.btn__df Maecenas vel		
