section(id="contact")
	div.wrapper
		div.title__wrap
			h2.title Contact us
		article.title__desc Phasellus est dolor, aliquam pellentesque pretium vitae, suscipit sed justo. Sed aliquam magna nec justo interdum, et malesuada dui facilisis. Morbi eu interdum massa, non posuere nunc. Proin ullamcorper magna sed tellus aliquam, eu viverra tortor porttitor. Donec tempus, ligula sit amet
		form(name="contact--send")
			div.contact__wrap
				div.contact__send__wrap
					ul.contact__list
						li.contact__item
							input(name="name").input__contact
						li.contact__item
							input(name="email").input__contact
						li.contact__item
							input(name="tel").input__contact
					div.mes
						textarea(name="message").message__contact
				button(type="submit").btn__df.btn--center Maecenas vel
