section(id="facts")
	div.wrapper
		div.title__wrap
			h2.title.title--wl HERE SOME FACTS ABOUT US
		article.title__desc Nullam fermentum metus dolor, non suscipit neque ornare id. Curabitur fermentum ac lectus vitae ultrices. In faucibus nisl massa, et elementum orci placerat at. 
		ul.facts__list
			li.fact__item
				div.fact__wrap
					span.count 921
					span.name__count Product sales
			li.fact__item
				div.fact__wrap
					span.count 876
					span.name__count Product sales
			li.fact__item
				div.fact__wrap
					span.count 238
					span.name__count Product sales
			li.fact__item
				div.fact__wrap
					span.count 352
					span.name__count Product sales
