section(id="services")
	div.wrapper
		div.title__wrap
			h2.title Our services
		ul.services__list
			li.services__item
				div.services__wrap
					div.services__icon__bg
						i.fa.fa-desktop
					div.service
						div.service__title Unique flat design
						div.servise__desc Lorem ipsum dolor sit amet, consectetursum dolor sit amet, consectetursum dolor sit amet
			li.services__item
				div.services__wrap
					div.services__icon__bg
						i.fa.fa-heart
					div.service
						div.service__title Unique flat design
						div.servise__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dui lacus, accumsan.
			li.services__item
				div.services__wrap
					div.services__icon__bg
						i.fa.fa-paint-brush
					div.service
						div.service__title Unique flat design
						div.servise__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dui lacus, accumsan.
			li.services__item
				div.services__wrap
					div.services__icon__bg
						i.fa.fa-cogs
					div.service
						div.service__title Unique flat design
						div.servise__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dui lacus, accumsan.
			li.services__item
				div.services__wrap
					div.services__icon__bg
						i.fa.fa-object-ungroup
					div.service
						div.service__title Unique flat design
						div.servise__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dui lacus, accumsan.
			li.services__item
				div.services__wrap
					div.services__icon__bg
						i.fa.fa-clock-o
					div.service
						div.service__title Unique flat design
						div.servise__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dui lacus, accumsan.
