footer.footer
	div.container
		ul.footer__list
			li.footer__item
				a(href="/").site__link 
					stan.link__text GERDUK
					span.link__text-gren REATIP.
			li.footer__item
				div.footer__copyright © 2017 