DOCTYPE
html(lang="ru")
	head
		include pug/template/head.pug
	body
		header.header
			include pug/template/header.pug
		include pug/frontpage/content__frontpage.pug
		div.empty
	include pug/template/footer.pug
	include pug/template/footer_js.pug