
<div class="header__top">
  <div class="flex-container">
    <div class="box site__title">
      <h1 class="site__name"><a class="site__link" href="/"> 
          <stan class="link__text">GERDUK</stan><span class="link__text-gren">REATIP.</span></a></h1>
      <div class="site__desc">Suspendisse mattis at libero sed</div>
    </div>
    <div class="box"><a class="nav__link" href="#team">
        <div class="link__wrap">
          <div class="link__iconed"><i class="fa fa-users"></i><span class="caption">our team</span></div>
        </div></a></div>
    <div class="box"><a class="nav__link" href="#">
        <div class="img__wrap"><img class="nav__pic" src="/img/1.jpg"/></div></a></div>
    <div class="box"></div>
    <div class="box"><a class="nav__link" href="#portfolio">
        <div class="link__wrap">
          <div class="link__iconed"><i class="fa fa-desktop"></i><span class="caption">portfolio</span></div>
        </div></a></div>
    <div class="box"><a class="nav__link" href="#services">
        <div class="link__wrap">
          <div class="link__iconed"><i class="fa fa-magic"></i><span class="caption">services</span></div>
        </div></a></div>
    <div class="box"><a class="nav__link" href="#">
        <div class="link__wrap">
          <div class="img__wrap"><img class="nav__pic" src="/img/3.jpg"/></div>
        </div></a></div>
    <div class="box"><a class="nav__link" href="#">
        <div class="link__wrap">
          <div class="img__wrap"><img class="nav__pic" src="/img/4.jpg"/></div>
        </div></a></div>
    <div class="box"><a class="nav__link" href="#about">
        <div class="link__wrap">
          <div class="link__iconed"><i class="fa fa-info-circle"></i><span class="caption">about</span></div>
        </div></a></div>
    <div class="box"><a class="nav__link" href="#">
        <div class="link__wrap">
          <div class="img__wrap"><img class="nav__pic" src="/img/5.jpg"/></div>
        </div></a></div>
    <div class="box"></div>
    <div class="box"><a class="nav__link" href="#">
        <div class="link__wrap">
          <div class="img__wrap"><img class="nav__pic" src="/img/6.jpg"/></div>
        </div></a></div>
    <div class="box"><a class="nav__link" href="#contact">
        <div class="link__wrap">
          <div class="link__iconed"><i class="fa fa-envelope-o"></i><span class="caption">contact</span></div>
        </div></a></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"><a class="nav__link" href="#">
        <div class="link__wrap">
          <div class="img__wrap"><img class="nav__pic" src="/img/6.jpg"/></div>
        </div></a></div>
  </div>
</div>
<div class="nav__arrow"><a class="arrow__link" href="#"><i class="fa fa-angle-down"></i></a></div>
<div class="menu__bg">
  <div class="menu__wrap">
    <div class="header__logo">GK.			</div>
    <nav class="menu">
      <li class="menu-item"><a href="#">Home</a></li>
      <li class="menu-item"><a href="#">About</a></li>
      <li class="menu-item"><a href="#">Team</a></li>
      <li class="menu-item"><a href="#">Service</a></li>
      <li class="menu-item"><a href="#">Portfolio</a></li>
      <li class="menu-item"><a href="#">Contact</a></li>
    </nav>
  </div>
</div>